@reboot  /usr/bin/gummibbs-snapshot.bash boot
@hourly  /usr/bin/gummibbs-snapshot.bash hour
@daily   /usr/bin/gummibbs-snapshot.bash day
@weekly  /usr/bin/gummibbs-snapshot.bash week
@monthly /usr/bin/gummibbs-snapshot.bash month
