[Unit]
Description=Create entries for btrfs snapshots as they are created

[Service]
Type=simple
StandardOutput=journal+console
StandardError=journal+console

Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin"

ExecStart=/usr/bin/gummibbs-daemon.bash

[Install]
WantedBy=multi-user.target
